# Global ignores
.DS_Store
# Environment variables & secrets
.env
.env.*
.env.local
**/.env
**/.env.*
**/.env.local
!.env.example
!**/.env.example
*.db
*.sqlite3
__pycache__/
*.pyc
.pytest_cache/
frontend/dist/
frontend/node_modules/
